@import 'tailwindcss';

@plugin '@tailwindcss/typography';

@custom-variant dark (&:is(.dark *));

@theme {
  --color-white: #f8f9fa;

  --font-body: Manrope, ui-sans-serif, system-ui, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

  --grid-template-columns-list: repeat(auto-fill, minmax(400px, max-content));
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@layer base {
	/* body {
		transition: background-color 0.5s ease;
	} */

	.prose code {
		@apply text-base;
	}

	/* prose styles here */
	.prose h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@apply text-zinc-800! dark:text-zinc-100!;
	}

	html.dark .shiki,
	html.dark .shiki span {
	  color: var(--shiki-dark) !important;
	  background-color: var(--color-gray-900) !important;
	}
}

@source "safelist.txt";

.glass {
	background: rgba(57, 56, 56, 0.52);
	backdrop-filter: blur(13px) saturate(150%);
	-webkit-backdrop-filter: blur(13px) saturate(150%);
	z-index: -1;
}

.shadow {
	box-shadow: -5px 3px 8px 1px rgba(0, 0, 0, 0.12);
}
