---
import TitlePage from '@/components/TitlePage'
import BaseLayout from '@/layouts/BaseLayout'
import { getPageByTitle } from '../utils/post'
import Team from '../components/mdx/Team.astro'
import Code from '../components/mdx/Code.astro'
import ImageGallery from '../components/ImageGallery.astro'
import ImageEmbed from '@/components/mdx/ImageEmbed'

const title = 'Community'
const page = await getPageByTitle(title)

if (!page) {
	return Astro.redirect('/404', 404)
}

const { Content } = await page.render()
---

<BaseLayout title={page.data.title}>
	<TitlePage title={page.data.title} />
	<div>
		<article class='max-w-full w-full'>
			<div class='prose prose-lg md:prose-xl dark:prose-invert mb-12 min-w-full'>
				<Content components={{ pre: Code, Team, ImageEmbed }} />
			</div>
		</article>
		<!-- image gallery -->
		{
			page.data.galleryImages && page.data.galleryImages.length > 0 && (
				<ImageGallery images={page.data.galleryImages} />
			)
		}
	</div>
</BaseLayout>
