---
interface Image {
	format: 'png' | 'jpg' | 'jpeg' | 'tiff' | 'webp' | 'gif' | 'svg' | 'avif'
	src: string
	width: number
	height: number
}
interface Props {
	images: Image[]
}

const { images } = Astro.props as Props
---

<h2 class='font-bold text-lg dark:text-white mb-6'>Bildergalerie</h2>
<div
	class='grid grid-cols-1 md:grid-cols-3 gap-4 auto-rows-[200px] pswp-gallery'
	id='image-gallery'
>
	{
		images.map((image, index) => {
			const isVertical = image.height > image.width
			return (
				<a
					href={image.src}
					data-pswp-width={image.width}
					data-pswp-height={image.height}
					target='_blank'
					class={`rounded-lg ${isVertical ? 'col-span-1 row-span-2' : 'col-span-2 row-span-2'}`}
				>
					<img src={image.src} alt={`image ${index + 1}`} class='w-full h-full object-cover' />
				</a>
			)
		})
	}
</div><br />

<script>
	import PhotoSwipeLightbox from 'photoswipe/lightbox'
	import 'photoswipe/style.css'

	const lightbox = new PhotoSwipeLightbox({
		gallery: '#image-gallery',
		children: 'a',
		pswpModule: () => import('photoswipe')
	})

	lightbox.init()
</script>
