---
interface Image {
	format: 'png' | 'jpg' | 'jpeg' | 'tiff' | 'webp' | 'gif' | 'svg' | 'avif'
	src: string
	width: number
	height: number
}
interface Props {
	galleryImages: Image[]
}

const { galleryImages } = Astro.props as Props
---

<div class='grid grid-cols-1 md:grid-cols-2 gap-4 pswp-gallery' id='image-gallery'>
	{
		galleryImages.map((image, index) => (
			<a
				href={image.src}
				data-pswp-width={image.width}
				data-pswp-height={image.height}
				target='_blank'
			>
				<img src={image.src} alt={`image ${index + 1}`} class='rounded-lg' />
			</a>
		))
	}
</div>

<script>
	import PhotoSwipeLightbox from 'photoswipe/lightbox'
	import 'photoswipe/style.css'

	const lightbox = new PhotoSwipeLightbox({
		gallery: '#image-gallery',
		children: 'a',
		pswpModule: () => import('photoswipe')
	})

	lightbox.init()
</script>
